body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#searchbox {
  width: 100%;
  font-size: 1.5rem;
  padding: 12px 20px 12px 20px;
  margin-bottom: 12px;
}

.projectdescription {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.projectdescription .shortfilename {
  font-family: var(--codish);
}

.projectdescription .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.projectdescription .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.uniqueproperties table {
    color: #fff;
}

.projectdescription:hover .tooltiptext {
  visibility: visible;
}

:root {
  --codish: 'Cascadia Code', Consolas, monospace;
}

.targetnames {
  font-family: var(--codish);
}
