.projectdescription {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.projectdescription .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.projectdescription .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.uniqueproperties table {
    color: #fff;
}

.projectdescription:hover .tooltiptext {
  visibility: visible;
}